<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Lista de Productos</h1>
    <div class="product-list">
        {{#each productos}}
            <div class="product">
                <h2>{{this.title}}</h2>
                <p>Description: {{this.description}}</p>
                <p>Price: ${{this.price}}</p>
                <img src="{{this.thumbnail}}" alt="{{this.title}} Image">
                <p>Code: {{this.code}}</p>
                <p>Stock: {{this.stock}}</p>
               <button onclick="addToCart('{{this.code}}')">Agregar al Carrito</button>
                <button onclick="removeFromCart('{{this.code}}')">Eliminar del Carrito</button>
            </div>
        {{/each}}
    </div>
     <script src="/js/funcion.js"></script>
</body>
</html>

